:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #878be2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;
  background-color: #002459;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1, h2, h3, p, li {
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(77, 166, 249);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;

  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 3rem;
}

.maintext {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;

  justify-content: flex-start;
  align-items: flex-start;
}

img {
  height: 0;
  min-height: 100%;
}

main span {
  color: rgb(77, 166, 249);
}

main p {
  opacity: 0.5;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
